*{
    margin:0;
    text-decoration: none;
}

.navdiv{
    justify-content: space-between; display: flex; align-items: center;
}

.logo a{
    font-size: 40px;
    font-weight: 600;
    color: rgb(253, 251, 251);
    font-family: serif;
}
.navbar{
    background-color: red;
    padding-left: 15px;
    padding-right: 15px;
}
li{
    list-style: none;
}
li a{
    color: white;
}

.body{
    margin-top: 8px;
    display: flex;
    align-items: center;
    }
.body img{
float: left;
margin-right:8px;
  
}

#sec{
    background-color: black; color: white;
}


.card-container{
    display: flex;
    justify-content: center;
    flex: wrap;
    margin-top: 8px;
}
.card{
    width: 250px; 
   
   
}
 
.card img{
 height: 250px; width: 200px; border-radius: 12px; ;
}

.card a{
    color: black;
    font-family: monospace;
  
}
.card button{
    height: 16px;
    width: 100px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: 1s;
}
.card button :hover{
    background-color: rgb(241, 62, 62);
}
.card button :active{
    background-color: red;
}

footer{
   
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 3px;
    font-size: 15px;
    width: 100;
   background: white;
   text-align: center;

    
}